.detailsSummary::-webkit-details-marker {
  display: none;
}

.detailsSummary::marker {
  display: none;
}

/* Smooth transition for arrow rotation */
.arrowIcon {
  transition: transform 0.2s ease-in-out;
}

.detailsElement[open] {
  margin-bottom: 0px;
}

.detailsElement[open] .arrowIcon {
  transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .detailsElement summary:hover {
    cursor: default;
  }
}

@media (max-width: 1023px) {
  .detailsElement {
    pointer-events: auto;
  }

  .detailsElement summary {
    pointer-events: auto;
    cursor: pointer;
  }
}
